imgpath: ../static/images

{% extends "base.html" %}

{% block title %}Blumen Lumen{% endblock %}

{% block content %}
	<div data-0="transform:translate(0,100%);" data-100p="transform:translate(0,0%)" data-150p-100p="" data-150p-200p="transform:translate(0,-100%)">
		<div data-100p="opacity:0" data-150p-100p="opacity:1"><img id="garden-night-img" src="{{imgpath}}/day.jpg" alt=""></div>
		</div>
	</div>

	<div data-150p-100p="transform:translate(0,100%);" data-150p-200p="transform:translate(0,0%);"></div>
{% endblock content %}